.panda-info{
    background-color:#fceae8;
}
.panda-bag-info{
    background-color:#da70d6;
}
.panda-watch-info{
    background-color:#ffa500
}
.panda-shoes-info{
    background-color:#0000ff
}
.panda-buttom-primary{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    border:none;
    border-radius:8px;
    padding:9px 25px;
}